@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

*/

body {
    font-family: "Nunito";
    font-size: var(--text-s);
}

.container {
    padding: 4.8rem 0;
}

h1 {
    font-size: var(--heading-3) ;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    margin-bottom: 2.4rem;
    /* background-color: aquamarine; */
}

header nav {
    display: flex;
    align-items: center;
    gap: 2.4rem;

}

a {
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
    /* font-size: var(--text-m); */
}

nav a {
    padding: 0.4rem 1rem;
    color: var(--darkTeal-1);
    font-size: 1.4rem;
}

nav a:hover {
    transition: 0.3s all ease-in;
    color: var(--darkTeal);
    border-bottom: 1px solid var(--darkTeal) ;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    margin-bottom: 3.2rem;
    /* background-color: bisque; */
}

.story {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    /* background-color: aqua; */
    column-gap: 2.4rem;

    border-radius: 12px;
    border: 2px solid var(--black);
    padding: 1.2rem;
}

#brazil, #uk {
    background-color: var(--teal-0);
    border-color: var(--teal-1);
}

#palestine, #italy {
    background-color: var(--orange-0);
    border-color: var(--orange-1);
}
.story-header {
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
}

.story-header span {
    font-size: var(--text-l);
    font-weight: 500;
}

.description p{
    margin-bottom: 0.4rem;
}

.description a {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    font-weight: 600;
    color: var(--black-1);
    font-style: italic;

    margin-top: 1.2rem;
}

.story-image {
    display: flex;
    justify-content: center;
    /* background-color: bisque; */
    max-width: 100%;
}
.story-image img {
    max-width: 70%;
    border-radius: 5px;
}

.link-top {
    display: flex;
    justify-content: center;
    font-size: var(--text-m);
}

.link-top:hover {
    transition: all 0.3s;
    color: var(--black-0);
}