@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background-color: #eee;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  height: 1000px;
  position: relative;
  margin: 0;
}

header {
  background-color: #eee;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav{
  margin: 20px 0 0 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  padding: 15px;
  background-color: #eee;
}

h1 {
  text-align: center;
  margin-top: 80px;/* Yo is this Janky?*/
}