@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root{/*css variable declaration to be used with styling*/
    --main-color:#2e6886;
    --secondary-color:#71accb;
    --lighter-color:#bbe9ff;
    --light-color:#547483;
    --dark-color:#3f3e43;
    --font-small:14px;
    --font-big:20px;
}

*{
    margin: 0;
    padding: 0;
}

*,::before,::after {/*to be searched about*/
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background: var(--dark-color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1,h2,h3 {
    font-weight: 700;
    line-height: 1.25;
    margin:0 0 0.5em ;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

 .container {
    max-width: 1100px;
    margin: 0 auto;
    padding:0 2em ;
 }

 .form-box {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    border: 8px solid var(--light-color);
    border-radius: 15px;
    background-color:#faf9ff ;
 }

 .form-box .progress {/*search about this*/
    position: relative;
    padding: 1em;
    width: 600px;
 }

 .logo {
    font-size: 1.75em;
    font-weight: 800;
    columns: var(--dark-color);
    padding: 65px 48px;
    text-align: center;
 }

 .logo span{
    color: var(--main-color);
 }

  
.progress ul.progress-steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    font: size 15px;;
 }
 
 .progress ul.progress-steps li{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
 }

 .progress ul.progress-steps li >span {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: var(--font-small);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    border-radius: 50%;
    background-color: var(--lighter-color);
    z-index: 1;
 }

 .progress ul.progress-steps li.active >span {
    color: white;
    background: var(--main-color);
    border: 4px solid var(--secondary-color) ;
    z-index: 1;
 }

 .form-box form {
    width: 100%;
    padding: 3em 1em;
    background-color: white;
    border-radius: 30px 30px 15px 15px;
 }

 form > div {
    max-width:  400px; 
    margin: 0 auto;
 }

 form >div p {
    color: var(--main-color);
    margin-bottom: 2em;
 }

 form >div >div:not(.checkbox) {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
 }

 form :where(input,select){
    height: 30px;
    padding: 0 1em;
    border-radius: 7px;
    outline-color: var(--secondary-color);
    border: 1px solid var(--lighter-color);
    background-color: transparent;
 }

 form label {
    font-size: var(--font-small);
    margin-bottom: 0.5em;
    font-weight:  600px; ;
 }

 form .grouping {
    display:flex;
 }

 form .grouping input{
    max-width:70px;
    text-align: center;
    margin-right: 1em;
 }

 form.checkbox input{
    height: auto;
 }

 .form-two,.form-three, .form-four{
    display: none;
 }

 .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 2em;
 }

 .button-group [class*="btn-"] { /*try to understand this*/
    background-color: var(--main-color);
    color: white;
    padding: 0.5em 2.5em;
    border: 4px solid var(--secondary-color);
    border-radius: 30px;
    cursor: pointer;
    -webkit-transition:background-color .3s,border-color .3s ease-out;/*try to understand this*/
    transition:background-color .3s,border-color .3s ease-out;/*try to understand this*/
 }

 .button-group [class*="btn-"]:disabled {/*try to understand this*/
    background-color: var(--light-color);
    border-color: var(--lighter-color);
    cursor: text;
 }

 .button-group [class*="btn-"]:hover:not(:disabled){
    background-color: var(--dark-color);
    border-color:var(--light-color);
 }

::placeholder {
    color: var(--light-color);
    
}
 @media screen and (min-width: 768px){/*search about this*/
    .form-box {
        flex-direction: row;
    }

    .form-box.progress{
        flex:1 0 35%;
        min-width: 300px;
        padding: 3em;
    }
    .logo {
        margin: -48px -48px 48px;
    }
    .progress ul.progress-steps{
        flex-direction: column;
        gap: 0;
    }
    .progress ul.progress-steps li:not(:last-child)::before{
        content: '';
        position: absolute;
        left:17px;
        top:38px;
        width:2px;
        height: 33px;;
        background-color:var(--lighter-color);
    }
    .form-box form {
        padding: 3em;
        border-radius: 0 25px 15px 0;
    }


 }
    
 
    
 
