@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Remove all default margins */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box; /* Overwrite box sizing in global css*/
}

/*----------Body----------*/

/* Smooth scrolling effect when going to in page anchor points */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  position: relative;
  /* background-color: var(--lightBlue-1); */
  background-image: url("../images/feedback/waves.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
}

/*----------Main----------*/

main {
  margin: 84px 0 0 0; /* Top margin set to 60px to stop from going under the nav bar */
  display: flex;
  flex-direction: column;
  color: var(--black);
  background-color: white;
  gap: 10px;
  align-content: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  border-radius: 36px;
  padding: 32px;
  border: 1px solid var(--black);
}

main h1 {
  font-weight: 900;
}

main p {
  font-size: 1.3em;
  line-height: 1.25em;
}

/*Content margin*/
.s_cont_margin {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/* ---------- Heading ---------- */

main > h1 {
  text-align: center;
  color: var(--black);
  margin-bottom: 15px;
}

/* --------- Forms ---------- */

form {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding: 0 auto;
}

label,
input,
textarea,
div {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 6px 0;
}

label {
  font-weight: var(--weight);
  font-size: 15px;
}

.label {
  margin: 0;
}

.required {
  color: red;
}

span {
  font-size: 14px;
}

input[type="text"],
textarea {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #00aeef;
  border-radius: 10px;
  margin-bottom: 15px;
padding: 5px;
}

input[type="text"] {
  height: 36px;
}

textarea {
  resize: vertical;
}

.rating-scale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.rating-scale label {
  display: inline-block;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.rating-scale input[type="radio"] {
  display: none;
}

.rating-scale input[type="radio"] + label {
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 9px 15px;
  font-size: 16px;
  font-weight: var(--weight-sb);
  transition: background-color 0.3s;
}

.rating-scale input[type="radio"]:hover + label {
  background-color: var(--black-0);
  border-color: var(--black-0);
  transition: background-color 0.3s;
}

#rate10 {
  padding: 9px 10px;
}

.rating-scale input[type="radio"]:checked + label {
  background-color: #00aeef;
  color: white;
  border-color: #00aeef;
}

#rating-level {
  display: flex;
  justify-content: space-between;
}

.button-area {
  display: flex;
  justify-content: space-between;
}

button {
  border: 1px solid #00aeef;
  padding: 5px 10px;
  border-radius: 18px;
  margin: 10px;
  width: 28%;
  font-weight: var(--weight-sb);
  font-size: 18px;
  background-color: white;
}

button[type="button"] {
  background-color: #00aeef;
  color: var(--white);
}

button[type="reset"] {
  color: #00aeef;
}

button[type="reset"]:hover,
button[type="button"]:hover {
  color: var(--white);
  background-color: var(--orange-1);
  border-color: var(--orange-1);
}

/* Modal Styles */

#previewModal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 500px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; /* Add position relative for further adjustments */
  top: 40%; /* Center vertically */
  left: 50%;
  transform: translateX(-50%); /* Offset to center */

}

.modal-content h2{
  padding: 10px 0;
  margin: 0 0 0 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#previewContent{
  margin: 10px;
  
}
.modal-content button {
  border: 1px solid #00aeef;
  padding: 5px 10px;
  border-radius: 18px;
  margin: 10px 38px;
  font-weight: var(--weight-sb);
  font-size: 18px;
  background-color: #00aeef;
  color: var(--white);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.modal-content button:hover {
  background-color: var(--orange-1);
  border-color: var(--orange-1);
  color: var(--white);
}