@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Remove all default margins */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box; /* Overwrite box sizing in global css*/
}

/*----------Body----------*/

/* Smooth scrolling effect when going to in page anchor points */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  position: relative;
  /* background-color: var(--lightBlue-1); */
  background-image: url("../images/feedback/waves.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110vh;
}

/*----------Main----------*/

main {
  margin: 84px 0 0 0; /* Top margin set to 60px to stop from going under the nav bar */
  display: flex;
  flex-direction: column;
  color: var(--black);
  background-color: white;
  gap: 10px;
  align-content: center;
  font-family: "Montserrat  ", Arial, Helvetica, sans-serif;
  border-radius: 36px;
  padding: 24px;
  border: 1px solid var(--black);
}

main h1 {
  font-weight: 900;
}

main p {
  font-size: 1.3em;
  line-height: 1.25em;
}

/*Content margin*/
.s_cont_margin {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

/* ---------- Heading ---------- */

main > h1 {
  text-align: center;
  color: var(--black);
}

/* --------- Forms ---------- */

form {
  height: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  padding: 0 auto;
}

label,
input,
textarea,
div {
  margin: 6px 0;
}

label {
  font-weight: var(--weight);
  font-size: 15px;
}

span {
  font-size: 14px;
}

input[type="text"],
textarea {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #00aeef;
  border-radius: 10px;
}

input[type="text"] {
  height: 36px;
}

textarea {
  resize: vertical;
}

.rating-scale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.rating-scale label {
  display: inline-block;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.rating-scale input[type="radio"] {
  display: none;
}

.rating-scale input[type="radio"] + label {
  border: 2px solid #ccc;
  border-radius: 50%;
  padding: 9px 15px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.rating-scale input[type="radio"]:hover + label {
  background-color: var(--black-0);
  border-color: var(--black-0);
  transition: background-color 0.3s;
}

#rate10 {
  padding: 9px 10px;
}

.rating-scale input[type="radio"]:checked + label {
  background-color: #00aeef;
  color: white;
  border-color: #00aeef;
}

#rating-level {
  display: flex;
  justify-content: space-between;
}

.button-area {
  display: flex;
  justify-content: space-between;
}

button {
  border: 1px solid #00aeef;
  padding: 5px 10px;
  border-radius: 18px;
  margin: 10px;
  width: 28%;
  font-weight: var(--weight-sb);
  font-size: 18px;
  background-color: white;
}

button[type="button"] {
  background-color: #00aeef;
  color: var(--white);
}

button[type="reset"] {
  color: #00aeef;
}

button[type="reset"]:hover,
button[type="button"]:hover {
  color: var(--white);
  background-color: var(--orange-1);
  border-color: var(--orange-1);
}
