/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
body {
    margin: 0 !important;
}

/*----------Header----------*/

header {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0; /*Ensures nav bar is at top of page*/
    z-index: 5; /* Z index set to higher value to maintain top position in z axis */
  }
  
  nav {
    width: auto;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 18px 0;
    display: flex;
    gap: 40px;
  }
  
  nav li {
    display: inline;
    background-color: #f5f5f5;
  }
  
  nav a {
    color: #1c1c1c;
    font-size: 1.25em;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    padding: 15px;
  }
  
  nav a:hover {
    color: #00aeef;
    background-color: #e3e3e3;
    transition: ease-in-out 0.3s;
  }
  
  nav a.active {
    position: relative; /*Any absolute child element will be relative to this element*/
    color: #00aeef;
  }

/* header {
    width: 100%;
    height: 6.4rem;
    background-color: var(--darkTeal-1);
} */

.btn {
    font-family: "Poppins";
    border: 2px solid var(--black-1);
    cursor: pointer;
}

.container {
    padding: 4.8rem 0;
}

.shop-header {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 4.8rem;
}

.shop-header .row:first-child {
    display: flex;
    justify-content: space-between;

}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 50%;
    padding: 1.2rem;
}

ion-icon[name="cart-outline"] {
    width: 3.2rem;
    height: 3.2rem;
}

.shop-header h1 {
    font-size: var(--heading-1);
    font-weight: 500;
}

.filtering-btns {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.filtering-btns button {
    font-size: 1.4rem;
    border-radius: 2.2rem;
    padding: 0.4rem 2.4rem;
    /* border-color: var(--white-1); */
    /* background-color: var(--white-1); */
}

.filtering-btns button:hover {
    background-color: var(--white-1);
    transition: 0.3s;
}
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.2rem;
    row-gap: 4.8rem;
    /* background-color: var(--white-1); */
}

.product {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    /* background-color: var(--teal-0); */
}

.product-img {
    overflow: hidden;
}
.product-img img {
    max-width: 100%;
    border-radius: 5px;
}

.product-img img:hover {
    transition: 0.3s;
    transform: scale(1.2);
    
}

.product-content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    /* display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: repeat(3, 1fr); */
}

.main {
    display: flex;
    justify-content: space-between;
}
.product-title, .product-price {
    font-size: 1.6rem;
    font-weight: 600;
    
}
.product-price {
    
}

.product-options {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black-1);
    
}

.product-btn {
    margin-top: 0.8rem;
}


.product:hover {
    cursor: pointer;
}
.product .btn {
    border-radius: 2.2rem;
    padding: 0.8rem 2rem;
    font-size: 1.4rem;
    font-weight: 400;
}

.product .btn:hover, .btn-cart:hover, .product-btn .btn:hover {
    transition: 0.3s;
    color: var(--white);
    background-color: var(--darkTeal-1);
    border-color: var(--darkTeal-1);
}

.product-modal {
    display: none;
    /* display: flex; */
    gap: 2.4rem;
    /* display: block; */
    width: 80rem;
    height: 45rem;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    background-color: var(--white);
    /* background-color: var(--darkTeal-1); */
    border: 2px solid var(--black-1);
    border-radius: 12px;
    z-index: 999;

    padding: 3.2rem;
}
.product-modal.show {
    display: flex;
    /* relative ot viewport */
    /* display: block; */
}

.modal-image {
    max-width: 50%;
    display: flex;
    align-items: center;
}
.product-modal img {
    max-width: 100%;
    border-radius: 5px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.modal-content .product-title{
    font-size: var(--heading-3);
    margin-bottom: 0.8rem;

}
.modal-content .product-price {
    font-size: var(--text-l);
}

.modal-content .product-desc {
    font-size: var(--text-s);
    color: var(--black-1);
    margin-bottom: 0.8rem;
}

.modal-content span {
    display: block;
    font-size: var(--text-s);
    font-weight: 500;
    margin-bottom: 0.8rem;
}

.modal-content .options {
    display: flex;
    gap: 1.2rem;
}

.options div {
    width: 12%;
    height: 2rem;
    border: 1px solid #333;
    content: "";
    text-align: center;
    font-size: var(--text-s);
}

hr {
    margin: 1.4rem 0;
}
.product-color #red {
    background-color: rgb(214, 50, 50);
}

.product-color #blue {
    background-color: rgb(48, 48, 182);
}

.product-color #white {
    background-color: white;
}

.product-color #black {
    background-color: black;
}

.product-size .options {
    margin-bottom: 1.2rem;
}

.product-modal .btn {
    border-radius: 2.2rem;
    padding: 0.8rem 4.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    
}

.blur {
    filter: blur(8px);
}
footer {
    width: 100%;
    height: 12.8rem;
    background-color: var(--darkTeal-1);
    
}

