@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    /* background: radial-gradient(circle, rgba(9,157,185,1) 0%, #a4d1d7 50%, rgba(255,191,120,1) 100%); */
    background-image: url("src/images/splashScreen2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    position: relative;
} 

body::before {
    content: "";
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0), #000); */
    background: linear-gradient(270deg, transparent, black 70%);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}
main {
    max-width: 1180px;
    z-index: 2;
    /* margin: 0 auto; */
/*     padding: 2.4rem 0; */
}

.title {
    font-size: 7.2rem;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 800;
}

.mission {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
    margin-bottom: 3.2rem;
}

.team {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team_member {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;

}

.team_member img {
    width: 50%;
    border-radius: 50%;
}

.team_member span {
    font-size: 1.2rem;
    font-weight: 500;
}

/* @keyframes fading {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#splashScreen {
    background: #0c8599 ;
    width: 100%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
} */