/* -0 is the tint (lighter), -1 is the shade (darker) */
/* to use example:
.one {
  background-color: var(--white-0);
}

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

TOPIC FONTS
"Montserrat", Arial, Helvetica, sans-serif;

PARAGRAPH FONTS
'lucida console', 'Courier New', Courier, monospace
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* BASE COLORS */
    --black : #1c1c1c;
    --black-0 : #bbbbbb;
    --black-1 : #494949;

    --white : #f5f5f5;
    --white-0 : #fafafa;
    --white-1 : #ccc;

    /* PRIMARY COLORS */
    --lightBlue : #bbe9ff;
    --lightBlue-0 : #e4f6ff;
    --lightBlue-1 : #a8d0e6;

    --teal : #91ddcf;
    --teal-0 : #d3f1ec;
    --teal-1 : #81c4b8;

    --orange : #ef9c66;
    --orange-0 : #fae1d1;
    --orange-1 : #d48756;

    --darkTeal : #78aba8;
    --darkTeal-0 : #d7efe5;
    --darkTeal-1 : #65918e;
    
    --heading-1 : 6.2rem;
    --heading-2 : 4.4rem;
    --heading-3: 3rem;

    --text-xs: 1rem;
    --text-s: 1.2rem;
    --text-m: 1.6rem;
    --text-l: 2rem;

   --lineH: 1; /* default */
   --lineH-s: 1.05; /* small */
   --lineH-p: 1.6; /* paragraph default */

   --weight: 400; /* default */
   --weight-m: 500; /* medium */
   --weight-sb: 600; /* semi bold */
   --weight-b: 700; /* bold */

}

* {
    padding: 0 ;
    margin: 0 ;
    box-sizing: border-box ;
}
html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: var(--white);
}

main {
    max-width: 90%;
    margin: 0 auto;
}